<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="org.polymap.azv.ui.StartPanel"
            id="org.polymap.azv.StartPanel">
      </panel>
      <panel
            class="org.polymap.azv.ui.nutzerregistrierung.UsersTablePanel"
            id="org.polymap.azv.UserTablePanel">
      </panel>
      <panel
            class="org.polymap.azv.ui.wasserquali.WasserQualiPanel"
            id="org.polymap.azv.WasserQualiPanel">
      </panel>
      <panel
            class="org.polymap.azv.ui.entsorgung.EntsorgungsListenPanel"
            id="org.polymap.azv.EntsorgungsListenPanel">
      </panel>
      <panel
            class="org.polymap.azv.ui.LayoutTestPanel"
            id="org.polymap.azv.LayoutTestPanel">
      </panel>
      <panel
            class="org.polymap.azv.ui.leitungsauskunft.LeitungsauskunftPanel"
            id="org.polymap.azv.LeitungsauskunftPanel">
      </panel>
      <panel
            class="org.polymap.azv.ui.AllCasesPanel"
            id="org.polymap.azv.AllCasesPanel">
      </panel>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.azv.model.AzvRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="resources/html/body.html"
            defaultEntrypointId="org.polymap.rhei.batik.entrypoint"
            id="org.polymap.azv.branding"
            servletName="azv"
            themeId="org.polymap.rhei.batik.theme"
            title="GKU">
         <additionalHeaders>
            <!--link
                  href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
                  rel="stylesheet"
                  type="text/css">
            </link-->
            <link
                  href="azvres/css/azv.css"
                  rel="stylesheet"
                  type="text/css">
            </link>
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.azv.ui.nutzerregistrierung.NewUserOperationConcern"
            id="org.polymap.azv.NewUserOperationConcern">
      </concern>
   </extension>
   <extension
         point="org.polymap.mosaic.ui.caseActions">
      <caseAction
            caseStateChange="false"
            class="org.polymap.azv.ui.nutzerregistrierung.NutzerFreigabeCaseAction"
            description="Rechte des Nutzers festlegen"
            id="org.polymap.azv.ui.NutzerFreigabeCaseAction"
            name="Freigabe">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.NutzerAnVorgangCaseAction"
            description="Den Kunden für diesen Vorgang auswählen"
            icon="resources/icons/user.png"
            id="org.polymap.azv.NutzerAnVorgangCaseAction"
            name="Kunden wählen"
            priority="-30">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.DokumenteCaseAction"
            icon="resources/icons/attachment.png"
            id="org.polymap.azv.DokumentCaseAction"
            name="Dokument anhängen"
            priority="0">
      </caseAction>
      <caseAction
            caseStateChange="true"
            class="org.polymap.azv.ui.schachtschein.SchachtscheinAntragCaseAction"
            id="org.polymap.azv.SchachtscheinCaseAction"
            name="Schachtschein beantragen"
            priority="10">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.schachtschein.SchachtscheinStartCaseAction"
            description="Bezeichnung und Ort der Maßnahme"
            icon="resources/icons/letter-filter.png"
            id="org.polymap.azv.SchachtscheinStartCaseAction"
            name="Maßnahme"
            priority="-10">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.EreignisseCaseAction"
            id="org.polymap.azv.EreignisseCaseAction">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.KarteCaseAction"
            id="org.polymap.azv.KarteCaseAction">
      </caseAction>
      <caseAction
            caseStateChange="true"
            class="org.polymap.azv.ui.hydranten.HydrantenCaseAction"
            icon="resources/icons/fire.png"
            id="org.polymap.azv.HydrantenCaseAction"
            name="Hydrantenauskunft">
      </caseAction>
      <caseAction
            caseStateChange="false"
            class="org.polymap.azv.ui.entsorgung.EntsorgungCaseAction"
            description="Termin festlegen und Entsorgung beantragen"
            icon="resources/icons/truck-filter.png"
            id="org.polymap.azv.EntsorgungCaseAction"
            name="Entsorgung beantragen"
            priority="100">
      </caseAction>
      <caseAction
            caseStateChange="false"
            class="org.polymap.azv.ui.entsorgung.EntsorgungStornoCaseAction"
            description="Diesen Antrag stornieren"
            icon="resources/icons/close.png"
            id="org.polymap.azv.EntsorgungStornoCaseAction"
            name="Entsorgung stornieren"
            priority="100">
      </caseAction>
      <caseAction
            caseStateChange="false"
            class="org.polymap.azv.ui.entsorgung.EntsorgungFreigabeCaseAction"
            description="Diesem Antrag einen Termin zuordnen"
            icon="resources/icons/calendar.png"
            id="org.polymap.azv.EntsorgungFreigabeCaseAction"
            name="Termin zuordnen"
            priority="120">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.CloseCaseAction"
            description="Vorgang erfolglos schließen und archivieren"
            icon="resources/icons/close.png"
            id="org.polymap.azv.CloseCaseAction"
            priority="1000">
      </caseAction>
      <caseAction
            class="org.polymap.azv.ui.leitungsauskunft.LeitungsauskunftStartCaseAction"
            description="Bezeichnung und Ort der Maßnahme"
            icon="resources/icons/pipelines-filter.png"
            id="org.polymap.azv.caseAction1"
            name="Maßnahme"
            priority="-20">
      </caseAction>
      <caseAction
            caseStateChange="true"
            class="org.polymap.azv.ui.leitungsauskunft.LeitungsauskunftAntragCaseAction"
            id="org.polymap.azv.LeitungsauskunftAntragCaseAction"
            name="Leitungsauskunft beantragen"
            priority="10">
      </caseAction>
      <caseAction
            caseStateChange="true"
            class="org.polymap.azv.ui.leitungsauskunft.LeitungsauskunftFreigabeCaseAction"
            description="Nutzer per EMail informieren und Vorgang schließen"
            id="org.polymap.azv.LeitungsauskunftFreigabeCaseAction"
            name="Leitungsauskunft erteilen"
            priority="10">
      </caseAction>
   </extension>

</plugin>
