<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.atlas.applicationLayouters" name="Atlas Application Layouters" schema="schema/applicationLayouters.exsd"/>
   <extension-point id="org.polymap.atlas.panels" name="Atlas Panels" schema="schema/panels.exsd"/>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.polymap.atlas.app.AtlasApplication"
            id="org.polymap.atlas.entrypoint"
            path="/atlas">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.polymap.atlas.entrypoint"
            id="org.polymap.atlas.branding"
            servletName="atlas"
            title="Mosaic">
      </branding>
   </extension>
   <extension
         point="org.polymap.atlas.applicationLayouters">
      <applicationLayouter
            class="org.polymap.atlas.internal.desktop.DesktopAppManager"
            id="org.polymap.atlas.desktopApplicationLayouter">
      </applicationLayouter>
   </extension>
   <extension
         point="org.polymap.atlas.panels">
      <panel
            class="org.polymap.atlas.app.DashboardPanel"
            id="org.polymap.atlas.dashboard">
      </panel>
   </extension>

</plugin>
